.button {
  position: relative;
  padding: 19px 30px;
  display: inline-flex;
  align-items: center;
  background: var(--primary);
  margin-bottom: 2rem;
  
  > span {
    will-change: transform;
    transition: transform .3s ease;
    font-weight: bold;
  }

  &:hover {
    > span {
      transform: skewY(-5deg);
    }

    &::before {
      border-left-width: 30px;
      border-bottom-width: 30px;
    }

    &::after {
      border-right-width: 30px;
      border-top-width: 30px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 20px solid var(--dark);
    border-bottom: 20px solid transparent;
    transition: border-width .3s ease;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    border-right: 20px solid var(--dark);
    border-top: 20px solid transparent;
    transition: border-width .3s ease;
  }
}