.hero {
	@media screen and (min-width: 994px) {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.grid {
		display: grid;
		gap: 30px 60px;
		justify-content: space-between;

		@media screen and (min-width: 1200px) {
			grid-template-columns: 72% auto;
		}

		@media screen and (min-width: 1600px) {
			grid-template-columns: 64% 360px;
		}

		> .content {
			display: contents;

			> h1 {
				font-size: clamp(2rem, -0.8rem + 5.65vw, 4.25rem);
				@media screen and (max-width: 994px) {
					margin-bottom: 0;
				}
			}

			.buttons {
				@media screen and (max-width: 994px) {
					order: 4;
					margin-bottom: 2rem;

					> a {
						width: 100%;
						align-items: center;
						justify-content: center;
					}
				}
			}
		}

		> .context {
			@media screen and (min-width: 994px) {
				margin-top: 1.5rem;
			}

			> p {
				opacity: 0.8;

				> a {
					color: var(--primary);
					opacity: 0.7;
				}
			}

			> a {
				width: 100%;
				margin-bottom: 0;
				display: none;
			}
		}
	}

	.buttons {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 30px;

		> svg {
			position: absolute;
			height: 170px;
			top: -55px;
			left: -65px;
			pointer-events: none;
			animation: rotato 20s infinite linear;

			> text {
				font-size: 0.65rem;
				font-weight: bold;
			}
		}

		> a {
			margin-bottom: 0;
		}
	}
}

@keyframes rotato {
	to {
		transform: rotate(360deg);
	}
}
